.appbar {
    display: flex !important;
    justify-content: center;
    background-color: #343434 !important;
    height: 100px;
    margin-top: 0;
}
.pagesBtn {
    background-color: #e1f5fe1f !important;
    color: #e4e4e4 !important;
    padding: 6px 5px !important;
    font-size: 8px !important;
}

.btngroup {
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.178);
}

.btngroupbox {
    color: whitesmoke !important;
}

#logo {
    height: 55px;
    width: 55%;
    background-color: #343434;
    background-image: url(../../assets/findOneLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.searchBar {
    border-radius: 50px !important;
}

@media(min-width: 600px) {
    #logo {
        height: 55px;
        margin-bottom: 10px;
    }
    .pagesBtn {
        padding: 8px 15px !important;
        font-size: 12px !important;
    }
}

@media(min-width: 1000px) {
    #logo {
        width: 25%;
    }
}

@media(min-width: 1200px) {
    #logo {
        margin-bottom: 10px;
    }
    .pagesBtn {
        padding: 6px 40px !important;
        font-size: 14px !important;
    }

}

