.home {
    display: flex;
    padding: 50px;
    flex-direction: column;
    flex-wrap: wrap;
}

.background-home {
    display: flex;
    padding: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width:95%;
    height:90%;
    background-image: url(../../assets/background-findOneDev.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.home-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    height: 1000px;
}

.box-top-mid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    margin-bottom: 80px ;
}

.box-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    height: fit-content;
    margin-bottom: 80px;
}


.home-top-left {
    position: relative;
    height: 300px;
    width: 400px;
    justify-content: center;
    border-radius: 30px;
    display: flex;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-top-right {
    position: relative;
    display: flex;
    background-image: url(../../assets/why.png);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 400px;
    background-color: #343434;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-mid-box {
    background-image: url(../../assets/welcome.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    color: #d2ff00;
    background-size: contain;
}

.home-mid-up {
    display: flex;
    background-image: url(../../assets/about1.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
}

.home-mid-center {
    background-image: url(../../assets/trato.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 70%;
}

.box-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.home-bottom-left {
    background-image: url(../../assets/muestra.png);
    background-repeat: no-repeat;
    position: relative;
    border-radius: 30px;
    height: 600px;
    width: 450px;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-bottom-right {
    position: relative;
    background-image: url(../../assets/mundi.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 850px;
}

.test {
    margin-left: auto;
    margin-top: 300px;
    margin-bottom: 50px;
    height: 150px;
    width: 450px;
    background-color: #343434;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (prefers-reduced-motion: no-preference) {
    .home-top-left {
        animation: effect-top-left 5s ;
        animation-iteration-count: 1;
    }
    .home-top-right {
        animation: effect-top-right 5s ;
        animation-iteration-count: 1;
    }
    .home-mid-box {
        animation: effect-mid-box 6s ;
        animation-iteration-count: 1;
    }
    .home-mid-up {
        animation: effect-mid-up 6s ;
        animation-iteration-count: 1;
    }
    .home-mid-center {
        animation: effect-mid-center 6s ;
        animation-iteration-count: 1;
    }
    .home-mid-down {
        animation: effect-mid-down 6s ;
        animation-iteration-count: 1;
    }
    .home-bottom-right {
        animation: effect-bottom-right 6s ;
        animation-iteration-count: 1;
    }
    .home-bottom-left {
        animation: effect-bottom-left 8s ;
        animation-iteration-count: 1;
    }
}

@keyframes effect-top-left {
    0%  {left: 0px; top: 0px; transform: scale(0);}
    25% {left: 200px; top: 0px; transform: scale(0);}
    50% {left: 500px; top: 0px;  transform: scale(0);}
    75% {left: 300px; top: 0px; transform: scale(0.5);}
    100% {left:0px; top:0px;}
}
@keyframes effect-top-right {
    0%  {left: 0px; top: 0px;}
    25% {left: -500px; top: 0px;}
    50% {left: -500px; top: 0px;}
    75% {transform: rotate(0deg);}
    100% {left:0px; top:0px;}
}
@keyframes effect-mid-box {
    0%  {left:0px; top:0px;}
    25% {left:0px; top:-400px;}
    50% {left:0px; top:-400px;}
    75% {left:0px; top:-300px;}
    100% {left:0px; top:0px;}
}
@keyframes effect-mid-up {
    0%  {left:0px; top:0px;}
    25% {left:0px; top:500px;}
    50% {left:0px; top:500px; transform: rotate(0deg);}
    75% {top:500px;}
    100% {left:0px; top:0px;}
}

@keyframes effect-mid-center {
    0%  {left: 0px; top: 0px;}
    25% {left: 0px; top:-1000px;}
    50% {left: 0px; top:-700px; transform: rotate(360deg);}
    75% {transform: rotate(0deg);}
    100% {left:0px; top:0px;}
}

@keyframes effect-mid-down {
    0%  {left: 0px; top: 0px;}
    25% {left: 0px; top: 0px;}
    50% {transform: scale(-0.3);}
    75% {transform: scale(-0.3);}
    100% {left:0px; top:0px;}
}

@keyframes effect-bottom-right {
    0%  {left: 0px; top: 0px; }
    25% {left: 150px; top: -800px; transform: scale(0.5);}
    50% {left: 0px; top: 0px;}
    75% {}
    100% {left:0px; top:0px;}
}

.profile-btn-home {
    background-color: #d2ff00 !important;
    color:#343434 !important;
}

.content-wrap-home {
    padding-bottom: 350px;
}

@media(max-width: 1100px)