#subtitle-projects-user {
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
}

#title-filter {
    align-self: center;
    justify-content: center;
    margin: 0 auto 25px auto;
}