#subtitle-projects-user {
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
}

#title-filter {
    align-self: center;
    justify-content: center;
    margin: 0 auto 25px auto;
}

.btn-filter {
    background-color: #b2dfdb;
    height: 100px;
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
}